NODE_ENV=development
PORT=8000
CLIENT_URL=http://localhost:5173
MONGODB_URL="mongodb+srv://..."
JWT_SECRET="KJHGSDIOKJOHDF"
REDIS_URL=rediss://default:[YOUR_TOKEN]@[YOUR_HOST]:6379
EMAIL="your.email@gmail.com"
PASS="your app password"
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"
RAZORPAY_KEY_ID="rzp_test_xxx"
RAZORPAY_KEY_SECRET="xxx"
